extends ./master.jade
block title
	title= "Login User"
block content
	.container
		.row.justify-content-md-center
			.col-md-6
				h1.h3.mb-3.font-weight-normal.text-center Sign in
				form(method="POST",action="/login")
					.form-group
						label(for='exampleInputEmail1') Email address
						input.form-control(type='email', name="email", aria-describedby='emailHelp', placeholder='Enter email')
						small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
					.form-group
						label(for='exampleInputPassword1') Password
						input#exampleInputPassword1.form-control(type='password', name="password", placeholder='Password')
					button.btn.btn-primary.btn-block(type='submit') Submit
		.clearfix &nbsp;
		.clearfix &nbsp;
		.clearfix &nbsp;
		.clearfix &nbsp;
		.clearfix &nbsp;
		.clearfix &nbsp;
		.clearfix &nbsp;
		.clearfix &nbsp;
		.clearfix &nbsp;
		.clearfix &nbsp;