extends ./master.jade
block title
	title= "About Us"
block content
	.container
		.row
			.jumbotron
				h1.display-4 #{title}
				p
					| #{description}
		.clearfix &nbsp;
		.clearfix &nbsp;
		.clearfix &nbsp;
